@import "src/_variables";

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 31%;

  h1 {
    font-size: $titulo-regular;
    font-weight: 400;
    color: $primary-color;
    margin-block: 20px;
  }

  .toolbar {
    padding-block: 24px;
    flex-direction: column;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 69%;
  background: $gradient !important
}

.MuiPaper-root.MuiPaper-outlined.MuiPaper-rounded {
  border-radius: 12px;
}

.searchLayout {
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    padding: 20px 180px 20px 16px;
    border: 3px solid $primary-color;
    border-radius: 5px;
    font-size: 20px;

    &::placeholder {
      color: #8A8E8E;
      font-size: 20px;
    }
  }

  Button {
    width: 155px;
    height: 50px;
    margin-left: 25px;
    vertical-align: middle;
    border-radius: 33px 33px 33px 33px;
    background-color: $primary-color;

    span {
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      padding-top: 1px;
    }
  }

  .MuiButtonBase-root.Mui-disabled {
    cursor: default;
    pointer-events: none;
    background-color: $button-disabled;
  }
}

.slick-prev {
  width: 20px !important;
  font-size: $titulo-regular!important;
}

.slick-next {
  width: 20px !important;
  font-size: $titulo-regular!important;
}

.slick-slide {
  border-radius: 20px;
  box-sizing: border-box;
  padding: 11px;
}

.MuiPaper-rounded {
  font-size: 16px;
  height: 304px;
}

.excluir {
  font-size: 36px !important;
  color: #fff !important;
}

.MuiPaper-root {
  box-sizing: border-box;
  padding: 45px 20px 60px 20px;
  cursor: pointer;

  h2 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;
    color: #00938F;
    text-transform: capitalize;
  }

  p {
    margin: 0;
    color: #089793;
  }

  article:nth-child(1) {
    margin-top: -30px;
  }

  article {
    padding-bottom: 18px;
  }
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;

  svg {
    font-size: 48px;
  }
}

.container-home {
  height: 100%;

  .carousel {
    width: 90%;
    margin-inline: auto;
    padding-block: 24px;
  }

  .button-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .searchBar {
    h1 {
      font-size: 50px;
    }
  }
}

@media (max-width: 767px) {
  .container-home {
    
    .slick-slider {
      margin-top: 0;
      margin-right: 0; 
      margin-left: 0; 

      .slick-slide {
        padding: 3.5vh;
      }

      .slick-next, .slick-prev {
        display: none;
      }
    }

    .first {
      top: 56%;
      left: 17%;
    }
  }

  .searchBar {
    h1 {
      font-size: 26px;
    }
  }

  .searchLayout {
    flex-direction: column;

    Button {
      width: 92vw;
      height: 7vh;
      margin-left: 0;

      span {
        font-size: 16px;
      }
    }

    input {
      margin-bottom: 3vh;
      padding: 5px 70px 5px 16px;
    }

    .MuiButton-root:hover {
      background-color: #ccc; 
    }
  }
}